* {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 10px;
  border-bottom: black solid;
  border-top: black solid;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

p {
  line-height: 1.5;
  width: 70ch;
  padding: 8px;
  border-top: black solid;
  border-left: black solid;
  border-right: black solid;
  border-bottom: black solid;
  background-color: darkcyan;
}

ul {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  margin-top: 16px;
  padding: 16px;
}

h3 {
  display: flex;
  padding: 16px;
  justify-content: center;
}

.article-content {
  display: flex;
}

h1 {
  background-color: #222222;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  padding: 20px;
}

body {
  background-color: midnightblue;
  color: white;
}

header {
  background-color: navy;
  padding: 20px;
  border-radius: 15px;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
